<!---
<section class="Hero">
    <div class="overlay"></div>
    <div class="content">
      <img src="../assets/fondo1.jpg" alt="Hero Logo" class="logo">
      <p>Explora nuestra selección de series y películas.</p>
      <div class="button-wrapper">
        <a class="Button" data-primary="true">Reproducir</a>
        <a class="Button">Más información</a>
      </div>
    </div>
  </section>
  
------------------------------------------------------------------------>
<div class="ad__skin-placeholder"></div>
<div id="page-content" class="page__contents -page">
<section id="promo-1"
     class="page__component page__component-- page__component--promo section__color__dark firstComponent">
        <div class="promo light thin longer ">
        <div class="promo__wrapper">
            <div class="promo__content">
                <figure class="img__wrapper promo__logo"><img
                        src="media/cinema-tickets-with-pop-corn-drink-amd-glasses-free-png.webp"
                        srcSet="" alt="" />
                </figure>
                <div class="promo__content__main">
                    <div class="promo__title">    h </div>
                    <div class="promo__description"></div>
                </div><a class="promo__content__btn"
                    href="#"> </a>
            </div>
        </div>
    </div>
</section>

<section id="masthead-2" class="page__component page__component-- page__component--masthead section__color__light ">
  <div class="line"></div>
  <div class="carousel baseCarousel masthead auto ">

  <!--AQUÍ INICIA EL CARRRUSEL DE  BOOTSTRAP-->
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-inner">
<div class="carousel-item active">
<img src="../../../assets/media/gands.png" class="d-block w-100" alt="...">
</div>
<div class="carousel-item">
<img src="../../../assets/media/fondoOscuro1.png" class="d-block w-100" alt="...">
</div>
<div class="carousel-item">
<img src="../../../assets/media/1.jpg" class="d-block w-100" alt="...">
</div>
<div class="carousel-item">
<img src="../../../assets/media/top.png" class="d-block w-100" alt="...">
</div>

</div>
</div>
      <div class="tabs__component ">
          <ul class="tabs__container">
              <li class="tabs__btns "><a role="button" tabindex="0">Lo Mejor del Cine en GAND's</a></li>
              <li class="tabs__btns "><a role="button" tabindex="0">Top Películas de la Semana</a></li>
              <li class="tabs__btns "><a role="button" tabindex="0">Top Series de la Semana</a></li>
              <li class="tabs__btns "><a role="button" tabindex="0">Promociones exclusivas en GAND's</a></li>
              <li class="tabs__btns "><a role="button" tabindex="0">Lo mejor del año 2023 al alcance de tu mano</a></li>
          </ul>
      </div>
      <br><br>
  <div id="social-container">
      <div class="social-links-wrapper">
          <div class="social-links social">
              <div class="social__title">Síguenos</div><a target="_blank"
                  aria-label="follow us on Facebook, opens a new window" class="social__img"
                  href="https://www.facebook.com/profile.php?id=61551065917242"><span class="icon--svg icon--facebook "
                      aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="18"
                          height="18" viewBox="0 0 18 18">
                          <path fill-rule="evenodd"
                              d="M9.426 17.647H.974A.974.974 0 010 16.673V.974C0 .436.436 0 .974 0h15.7c.537 0 .973.436.973.974v15.699a.974.974 0 01-.974.974h-4.497v-6.834h2.294l.343-2.663h-2.637v-1.7c0-.772.214-1.297 1.32-1.297h1.41V2.77a18.853 18.853 0 00-2.055-.105c-2.033 0-3.425 1.241-3.425 3.52V8.15h-2.3v2.663h2.3v6.834z">
                          </path>
                      </svg></span></a><a target="_blank"
                  aria-label="follow us on Twitter, opens a new window" class="social__img"
                  href="https://twitter.com/home"><span class="icon--svg icon--twitter"
                      aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="18"
                          height="18" viewBox="0 0 18 18">
                          <path
                              d="M3.5 5.1l3.8 5L4 13.6c-1.9 1.8-3.1 3.6-2.8 3.9.3.3 1.7-.8 3.1-2.5 3.2-3.8 4.1-3.8 6.4 0 1.3 2.2 2.5 3 4.5 3H18l-3.6-5-3.7-5.1L13.9 4c1.8-2.2 2.8-4 2.3-4-.4 0-1.8 1.3-3 3-1.3 1.6-2.6 3-3 3-.4 0-1.6-1.4-2.7-3C6.1.9 4.7 0 2.7 0H-.2l3.7 5.1zm6.3 3.3c5.3 7.6 5.8 8.6 4.4 8.6C13.4 17 3 2.7 3 1.6c0-2 2.3.3 6.8 6.8z">
                          </path>
                      </svg></span></a><a target="_blank"
                  aria-label="follow us on Instagram, opens a new window" class="social__img"
                  href="https://instagram.com/gandsmovies?igshid=MTNiYzNiMzkwZA%3D%3D&utm_source=qr"><span class="icon--svg"
                      aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="18"
                          height="18" viewBox="0 0 18 18">
                          <path fill-rule="evenodd"
                              d="M15.441 15.993H2.206a.552.552 0 01-.552-.552V7.17H3.86c-.287.414-.384 1.185-.384 1.675 0 2.953 2.408 5.356 5.368 5.356 2.96 0 5.368-2.403 5.368-5.356 0-.49-.069-1.25-.425-1.675h2.206v8.272a.552.552 0 01-.552.552M8.844 5.458a3.39 3.39 0 013.394 3.386 3.39 3.39 0 01-3.394 3.386A3.39 3.39 0 015.45 8.844a3.39 3.39 0 013.393-3.386m4.391-3.252h1.655c.304 0 .551.247.551.551v1.655a.552.552 0 01-.551.551h-1.655a.552.552 0 01-.551-.551V2.757c0-.304.247-.551.551-.551M15.55 0H2.098A2.095 2.095 0 000 2.093v13.461c0 1.156.94 2.093 2.098 2.093h13.451a2.095 2.095 0 002.098-2.093V2.093C17.647.937 16.707 0 15.549 0">
                          </path>
                      </svg></span></a>
          </div>
      </div>
  </div>
</div>

</section>


<section class="page__component page__component-- page__component--ad section__color__light ">
  <div class="ad ad--empty ad--banner">
      <div></div>
  </div>
</section>


<!--CUADRO NEGRO MANDALORIA-->
<section id="sets-4" class="page__component page__component-- page__component--sets  ">
  <div class="sets base_sets half ">
      <div class="sets__hero">
          <div class="sets__bg__container">
              <figure class="img__wrapper sets__background__wrapper">
                  <!--Imagen de fondo del cuadro negro-->
                  <div class="built__background built__background--single sets__background use-vars"
                      style="background-image:url(media/Mandaloriaan.png) !important">
                  </div>
              </figure>
          </div>
          <div class="mobile_tab"><button class="baseCarousel__arrow base_sets__arrow left "
                  role="button" tabindex="0"><svg viewBox="10 0 50 110" width="30px">
                      <path d="M40 35 L20 55 L40 75" class="arrow"></path>
                  </svg></button>
              <div class="tabs-mobile"></div><button
                  class="baseCarousel__arrow base_sets__arrow right" role="button"
                  tabindex="0"><svg viewBox="0 0 50 110" width="30px">
                      <path d="M20,75,40,55,20,35" class="arrow"></path>
                  </svg></button>
          </div>
          <div class="sets__main">
              <div class="sets__container " aria-live="polite" role="region">
                  <figure class="img__wrapper "><img
                          src="../../../assets/media/disney.png"
                          srcSet=""
                          alt="mulogo_lob_log_eye_01_1" class="sets__logo" /></figure>
                  <div class="sets__eyebrow">Encuentra tus peliculas favoritas </div>
                  <div class="sets__title">Descubre el cine como nunca antes con Gands Movies</div>
                  <div class="sets__description">Donde cada película es una experiencia única, 
                      ¡sumérgete en un mundo de entretenimiento sin límites!</div><a target="_self"
                      class="cta-btn cta-btn--outline cta-btn--light "
                      href=""><span
                          class="innerFill "><span>Unirme Ahora</span></span></a>
              </div>
          </div>
      </div>
      <div class="tabs__div"></div>
  </div>
</section>


<section id="video-6" class="page__component page__component-- page__component--video section__color__light ">
  <div class="content-container light vertical">
      <div class="video-component full-module light" id="video-d4ff68a87608e483314c18d90bb8fe0c">
         
      <div class="video-component__container playlist">
              <div class="video-metadata">
                <div class="video-metadata__meta__wrapper">
                  <div class="video-metadata__eyebrow">Gands Movies Live</div>
                  <div class="video-metadata__title">Series y películas</div>
                  <div class="video-metadata__description">Contenido ilimitadas para ver lo
                      que quieras, cuando quieras.
                      Lleva tus historias favoritas siempre contigo. </div>
                  <div style="text-align: right;">
                      <p style="position: absolute; bottom: 155px; right: 0;">Usa el siguiente
                          cupón en nuestra tienda:</p>
                      <img class="video-metadata_description" src="../../../assets/media/GANDESLAONDA.png"
                          alt="cupon" style="position: absolute; right: 0; bottom: 30px; ">
                  </div>
              </div>
              </div> <!-- Cierre de video-metadata -->
              </div> <!-- Cierre de video-component__container playlist -->
              </div> <!-- Cierre de video-component -->
              </div> <!-- Cierre de content-container -->

</section>








<section id="sets-7" class="page__component page__component-- page__component--sets  ">
  <div class="sets base_sets half ">
      <div class="sets__hero">
          <div class="sets__bg__container">
              <figure class="img__wrapper sets__background__wrapper">
                  <div class="built__background built__background--single sets__background use-vars"
                      style="background-image:url(media/pantalla.webp) !important ">
                  </div>
              </figure>
          </div>
          <div class="mobile_tab"><button class="baseCarousel__arrow base_sets__arrow left "
                  role="button" tabindex="0"><svg viewBox="10 0 50 110" width="30px">
                      <path d="M40 35 L20 55 L40 75" class="arrow"></path>
                  </svg></button>
              <div class="tabs-mobile"></div><button
                  class="baseCarousel__arrow base_sets__arrow right" role="button"
                  tabindex="0"><svg viewBox="0 0 50 110" width="30px">
                      <path d="M20,75,40,55,20,35" class="arrow"></path>
                  </svg></button>
          </div>
          <div class="sets__main">
              <div class="sets__container " aria-live="polite" role="region">
                  <div class="sets__eyebrow">Todo en Gands Movies</div>
                  <div class="sets__title">Cuando quieras, donde quieras</div>
                  <div class="sets__description">Disfrútalo en tu pantalla favorita, ya sea tu TV, tableta, computadora, teléfono y otros.
                      Vive una experiencia única con una amplia selección de títulos en 4K. 
                      Además, puedes ver en cuatro pantallas en simultáneo para que nadie se quede afuera.</div><a target="_self"
                      class="cta-btn cta-btn--outline cta-btn--light "
                      href="#"><span class="innerFill "><span>Comienza Ahora</span></span></a><a target="_self"
                      class="cta-btn cta-btn--outline cta-btn--light "
                      href="#"><span class="innerFill "><span>Leer Más</span></span></a>
                              
              </div>
            <!--  <img class="img-black-original" src="media/original.png" alt="">-->
          </div>
      </div>
      <div class="tabs__div"></div>
  </div>
</section>

<!-- Tabla con imágenes -->
<section id="promo-10">
  <div class="description-title">Originalidad con Gands Movies y en exclusivo</div>
  <p>Disfruta de películas, series y documentales nunca antes vistos. Solo en Gands Movies.</p>
  <table>
      <tr>
          <td><img class="img-table shake" src="../../../assets/media/img1.jpeg" alt="Imagen 1"></td>
          <td><img class="img-table shake" src="../../../assets/media/img2.jpeg" alt="Imagen 2"></td>
          <td><img class="img-table shake" src="../../../assets/media/img3.jpeg" alt="Imagen 3"></td>
      </tr>
      <tr>
          <td><img class="img-table shake" src="../../../assets/media/img4.jpeg" alt="Imagen 4"></td>
          <td><img class="img-table shake" src="../../../assets/media/img5.jpeg" alt="Imagen 5"></td>
          <td><img class="img-table shake" src="../../../assets/media/img6.jpeg" alt="Imagen 6"></td>
      </tr>
      <tr>
          <td><img class="img-table shake" src="../../../assets/media/img7.jpeg" alt="Imagen 7"></td>
          <td><img class="img-table shake" src="../../../assets/media/img8.jpeg" alt="Imagen 8"></td>
          <td><img class="img-table shake" src="../../../assets/media/img9.jpeg" alt="Imagen 9"></td>
      </tr>
  </table>
</section>

<section id="promo-8"
  class="page__component page__component-- page__component--promo section__color__dark ">
  <div class="promo dark featured longer ">
      <div class="promo__wrapper">
          <figure class="img__wrapper img__wrappert ">
              <picture class="promo__asset">
              
                  <img class="img-contact img-contactt" src="../../../assets/media/Peliculascollague.jpeg"/>
              </picture>
          </figure>
          <div class="promo__content">
              <div class="promo__content__main">
                  <div class="promo__eyebrow">Gands Movies</div>
                  <div class="promo__title">Contacta con Gands Movies: Tu Puerta al Entretenimiento Cinematográfico​</div>
                  <div class="promo__description">¡Estamos aquí para ti! En Gands Movies valoramos tu experiencia 
                      y queremos asegurarnos de que tengas todo lo que necesitas para disfrutar al máximo. 
                      No dudes en ponerte en contacto con nosotros para cualquier pregunta, sugerencia o asistencia.
                      Aquí te dejamos cómo puedes encontrarnos:​</div>
                      
                      <a target="_self" class="cta-btn cta-btn--solid cta-btn--red "
                      href=""><span class="innerFill "><span>Contáctanos</span></span></a>
              </div><a class="promo__content__btn"
                  href="#"></a>
          </div>
      </div>
  </div>
</section>

<div class="container">
<br>

<div class="container">
<br>
<h2>Próximos Lanzamientos 2024</h2>

<div class="accordion" id="upcomingAccordion">
<!-- Película 1 -->
<div class="panel">
<div class="panel-header" onclick="togglePanel('panel1')">
Alien: Romulus
</div>
<div class="panel-body" id="panel1" style="display: none;">
Fecha de estreno: Agosto 2024. Una nueva entrada en el universo de Alien.
</div>
</div>
<!-- Película 2 -->
<div class="panel">
<div class="panel-header" onclick="togglePanel('panel2')">
Borderlands
</div>
<div class="panel-body" id="panel2" style="display: none;">
Fecha de estreno: Agosto 2024. Adaptación del famoso videojuego al cine.
</div>
</div>

<!-- Película 3 -->
<div class="panel">
<div class="panel-header" onclick="togglePanel('panel3')">
Kraven the Hunter
</div>
<div class="panel-body" id="panel3" style="display: none;">
Fecha de estreno: Agosto 2024. El icónico cazador de Spider-Man llega a la gran pantalla.
</div>
</div>

<!-- Película 4 -->
<div class="panel">
<div class="panel-header" onclick="togglePanel('panel4')">
Harold and the Purple Crayon
</div>
<div class="panel-body" id="panel4" style="display: none;">
Fecha de estreno: Agosto 2024. La clásica historia infantil cobra vida.
</div>
</div>

<!-- Película 5 -->
<div class="panel">
<div class="panel-header" onclick="togglePanel('panel5')">
Speak No Evil
</div>
<div class="panel-body" id="panel5" style="display: none;">
Fecha de estreno: Agosto 2024. Un thriller que mantendrá a los espectadores al borde de sus asientos.
</div>
</div>

<!-- Película 6 -->
<div class="panel">
<div class="panel-header" onclick="togglePanel('panel6')">
Trap
</div>
<div class="panel-body" id="panel6" style="display: none;">
Fecha de estreno: Agosto 2024. Un thriller de Universal Pictures lleno de suspense.
</div>
</div>
</div>
</div>


</div>
<!------------------------------------------------------------------------->
  
