<div class="container">
  <h1 class="title">Administración</h1>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Título</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Gestión de Usuarios</td>
        <td><button class="styled-button" routerLink="/admin/Usuarios">Ir a Usuarios</button></td>
      </tr>
      <tr>
        <td>Gestión de Ventas</td>
        <td><button class="styled-button" routerLink="/admin/Ventas">Ir a Ventas</button></td>
      </tr>
      <tr>
        <td>Cantidad de Películas por Ciudad y Municipio</td>
        <td><button class="styled-button" routerLink="/admin/CantPeliculasCdMun">Ir a Cantidad Películas</button></td>
      </tr>
      <tr>
        <td>Ingresos por Método de Pago</td>
        <td><button class="styled-button" routerLink="/admin/ingMetodoPago">Ir a Método de Pago</button></td>
      </tr>
      <tr>
        <td>Ingresos por Clasificación de Películas</td>
        <td><button class="styled-button" routerLink="/admin/ingresoPorPeliculasClass">Ir a Clasificación</button></td>
      </tr>
      <tr>
        <td>Películas Populares por Protagonista</td>
        <td><button class="styled-button" routerLink="/admin/peliculasPopularesPorProtagonista">Ir a Populares</button></td>
      </tr>
      <tr>
        <td>Películas por País y Productora</td>
        <td><button class="styled-button" routerLink="/admin/peliculasPorPaisProduc">Ir a País y Productora</button></td>
      </tr>
      <tr>
        <td>Promedio de Duración de Películas</td>
        <td><button class="styled-button" routerLink="/admin/promDurac">Ir a Promedio Duración</button></td>
      </tr>
      <tr>
        <td>Promedio de Usuarios con Tres Compras</td>
        <td><button class="styled-button" routerLink="/admin/promUsuarioTresCompras">Ir a Promedio Usuarios</button></td>
      </tr>
      <tr>
        <td>Total Recaudado</td>
        <td><button class="styled-button" routerLink="/admin/recaudado">Ir a Recaudado</button></td>
      </tr>
      <tr>
        <td>Recomendaciones por Género</td>
        <td><button class="styled-button" routerLink="/admin/recomendacionesPorGenero">Ir a Recomendaciones</button></td>
      </tr>
      <tr>
        <td>Total Recaudado por País</td>
        <td><button class="styled-button" routerLink="/admin/tolRecPais">Ir a Total País</button></td>
      </tr>
      <tr>
        <td>Total de Descuentos por Cupón</td>
        <td><button class="styled-button" routerLink="/admin/totDescuentoPorCupon">Ir a Descuentos</button></td>
      </tr>
    </tbody>
  </table>
</div>
