
<section id="sets-7" class="page__component page__component-- page__component--sets  ">
    <div class="sets base_sets half ">
        <div class="sets__hero">
            <div class="sets__bg__container">
                <figure class="img__wrapper sets__background__wrapper">
                    <div class="built__background built__background--single sets__background use-vars"
                        style="background-image:url(%27https_/cdn.marvel.com/content/1x/new_com_20231115_set_01.html)">
                    </div>
                </figure>
            </div>
            <div class="mobile_tab"><button class="baseCarousel__arrow base_sets__arrow left "
                    role="button" tabindex="0"><svg viewBox="10 0 50 110" width="30px">
                        <path d="M40 35 L20 55 L40 75" class="arrow"></path>
                    </svg></button>
                <div class="tabs-mobile"></div><button
                    class="baseCarousel__arrow base_sets__arrow right" role="button"
                    tabindex="0"><svg viewBox="0 0 50 110" width="30px">
                        <path d="M20,75,40,55,20,35" class="arrow"></path>
                    </svg></button>
            </div>
            <div class="sets__main">
                <div class="sets__container " aria-live="polite" role="region">
                    <div class="sets__eyebrow">Soporte Gands Movies</div>
                    <div class="sets__title">¿En qué podemos ayudarte?</div>
                    <div class="sets__description">Estamos aquí para ayudarte en cada paso de tu experiencia con nosotros.
                         ¿Tienes preguntas sobre cómo encontrar una película, cómo realizar una compra o cualquier otro tema? 
                         ¡No dudes en contactarnos! Nuestro equipo de soporte está listo para brindarte la asistencia que necesitas.</div>
                         <div class="search-box">
                            <input type="text" class="search-input" placeholder="¿Cómo podemos ayudarte?" aria-label="Buscar">
                            <button class="search-button" aria-label="Buscar">
                                <i class="fas fa-search"></i> <!-- Utiliza Font Awesome para el ícono de búsqueda -->
                            </button>
                        </div>

                        
                                
                </div>
                <img class="img-black-original" src="media/soporte.png" alt="">
            </div>
        </div>
        <div class="tabs__div"></div>
    </div>
</section>
<div class="container">
    <br>
  <h2>Preguntas Frecuentes</h2>

    <div class="accordion" id="faqAccordion">
        <!-- Pregunta 1 -->
        <div class="panel">
            <div class="panel-header" onclick="togglePanel('panel1')">
                ¿Cómo puedo comprar una película en línea?
            </div>
            <div class="panel-body" id="panel1">
            Para comprar una película en línea en nuestra página, simplemente sigue estos sencillos pasos:

            Busca la película que deseas comprar utilizando la barra de búsqueda o navegando a través de las categorías disponibles.
            <br>
            Una vez que has encontrado la película que te interesa, haz clic en ella para ver más detalles, como el formato y el precio.
            <br>
            Añade la película a tu carrito de compras haciendo clic en el botón correspondiente.
            <br>
            Revisa tu carrito de compras para asegurarte de que la película y la cantidad sean correctas, y procede a la página de pago.
            <br>
            En la página de pago, completa la información requerida, como tu dirección de envío y los detalles de tu tarjeta de crédito o usa nuestro sistema de pago seguro.
            <br>
            Una vez completada la compra, recibirás una confirmación de tu pedido junto con los detalles de envío si aplica. En el caso de una descarga digital, recibirás instrucciones para acceder a tu película.
            <br>
            Esperamos que esto te ayude a comprar la película que buscas. Si tienes alguna otra pregunta o necesitas ayuda adicional, no dudes en contactarnos.
            </div>
        </div>

        <!-- Pregunta 2 -->
        <div class="panel">
            <div class="panel-header" onclick="togglePanel('panel2')">
                ¿Cómo accedo a mis películas después de comprarlas?
            </div>
            <div class="panel-body" id="panel2">
                Después de realizar una compra, puedes acceder a tus películas en la sección "Mis Compras" de tu cuenta.
            </div>
        </div>

        <!-- Pregunta 3 -->
        <div class="panel">
            <div class="panel-header" onclick="togglePanel('panel3')">
                ¿Puedo ver mis películas en varios dispositivos?
            </div>
            <div class="panel-body" id="panel3">
            Sí, puedes ver tus películas en varios dispositivos. Nuestro servicio te permite acceder a tu contenido en diferentes dispositivos para tu comodidad.
            </div>
        </div>

        <!-- Pregunta 4 -->
        <div class="panel">
            <div class="panel-header" onclick="togglePanel('panel4')">
                ¿Cuánto tiempo tengo para ver una película después de comprarla?
            </div>
            <div class="panel-body" id="panel4">
                Una vez que compres una película, tendrás acceso a ella indefinidamente para verla cuando quieras.
            </div>
        </div>

        <!-- Pregunta 5 -->
        <div class="panel">
            <div class="panel-header" onclick="togglePanel('panel5')">
                ¿Qué hago si tengo problemas para reproducir una película?
            </div>
            <div class="panel-body" id="panel5">
                Si experimentas problemas para reproducir una película, te recomendaría primero verificar tu conexión a internet y luego asegurarte de que estés utilizando un dispositivo compatible con nuestro servicio. Si el problema persiste, te animo a contactar a nuestro equipo de soporte técnico para recibir ayuda adicional.
            </div>
        </div>

        <!-- Pregunta 6 -->
        <div class="panel">
            <div class="panel-header" onclick="togglePanel('panel6')">
                ¿Ofrecen reembolsos si no estoy satisfecho con una película?
            </div>
            <div class="panel-body" id="panel6">
                Sí, ofrecemos reembolsos si no estás satisfecho con una película, siempre y cuando cumplas con nuestras políticas de reembolso. Te recomendaría contactar a nuestro equipo de servicio al cliente para obtener más detalles y asistencia con el proceso de reembolso.
            </div>
        </div>

        <!-- Pregunta 7 -->
        <div class="panel">
            <div class="panel-header" onclick="togglePanel('panel7')">
                ¿Hay restricciones geográficas para ver las películas?
            </div>
            <div class="panel-body" id="panel7">
                Nuestras películas están disponibles globalmente, sin restricciones geográficas.
            </div>
        </div>

        <!-- Pregunta 8 -->
        <div class="panel">
            <div class="panel-header" onclick="togglePanel('panel8')">
                ¿Puedo descargar las películas para verlas sin conexión?
            </div>
            <div class="panel-body" id="panel8">
                Actualmente, no ofrecemos la opción de descargar películas para verlas sin conexión.
            </div>
        </div>

        <!-- Pregunta 9 -->
        <div class="panel">
            <div class="panel-header" onclick="togglePanel('panel9')">
                ¿Hay alguna membresía premium que ofrezca beneficios adicionales?
            </div>
            <div class="panel-body" id="panel9">
                Sí, ofrecemos una membresía premium con beneficios adicionales como acceso anticipado y descuentos exclusivos.
            </div>
        </div>

        <!-- Pregunta 10 -->
        <div class="panel">
            <div class="panel-header" onclick="togglePanel('panel10')">
                ¿Cómo puedo contactar al servicio al cliente?
            </div>
            <div class="panel-body" id="panel10">
                Puedes contactar a nuestro servicio al cliente a través del formulario en la sección "Contáctenos" o por correo electrónico a gandsmoviesgmail.com
            </div>
        </div>
    </div>
</div>